body {
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 200px;
    height: 30vh;
}

#container {
   padding-top: 20px;
}

#description {
    height: 100px;
}