body {
}
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

#categories ul {
    flex-direction: column !important;
}

#categories {
    /*position: fixed;
    left: 0;
    top: 0;*/
    display: inline-block !important;
    width: 150px;
    padding-left: 5px;
}