.li-flex {
    display: flex;
    width: 300px;
    justify-content: space-between;
}
.orders {
    width: 700px;
}
.orders p {
    width: 200px;
}
#btnOnAdminViewOnOrdersPage {
    position: absolute;
    top: 50px;
    right: 400px;
    height: 55px;
}