#clientOrdersContainer tr {
    display: flex;
    width: 730px;
    padding: 5px;
}

#clientOrdersContainer td, #clientOrdersContainer th {
    width: 210px;
    margin: 0;
}

#clientOrdersContainer .price {
    width: 100px;
    margin: 0;
}

#orderContent {
    position: absolute;
    width: 550px;
    right: 150px;
    top: 80px;
}

#orderContent div {
        display: flex;
}

#orderContent p {
    width: 150px;
}

#clientOrdersContainer h3 {
    display: block;
}
