table {
    width: 100%;
}

tr {
    margin-top: 10px;
    display: flex;
    z-index: 3;
}

.mainPageProducts {
    margin-right: 100px;
    border: solid lightgray 1px;
    height: 155px;
    width: 150px;
}

.mainPageProduct {
    height: 120px;
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

th {
    margin: 0 5px 0 5px;
    height: 30px;
}
img.sort {
    width: 20px;
    height: 20px;
}
img.img-btn {
    width: 23px;
    height: 20px;
    position: relative;
    left: 110px;
    bottom: 10px;
    z-index: 10;
}