div, h1 {
    color: black;
}
#deleteLink, #changeLink, #basketLink {
    display: inline-block !important;
    padding: 0 !important;
}

p {
    display: inline-block !important;
    padding: 0 5px 0 5px;
}