div, h1 {
    color: black;
}
#deleteLink, #changeLink, #basketLink {
    display: inline-block;
    padding: 0 2px !important;
}
#deleteLink {
    border-right: solid black 1px;
}
#changeLink {
    border-right: solid black 1px;
    border-left: solid black 1px;
}
#basketLink {
    border-left: solid black 1px;
}